<!DOCTYPE html>
<html>
  <head>
    <title>Remote Slide Show by Zulfikar</title>
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
    <link rel='stylesheet' href='/stylesheets/reveal.css' />
    <link rel="stylesheet" href="/stylesheets/reveal_black.css">
    <script src="/javascripts/reveal.js" charset="utf-8"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          <h1>Slide 1</h1>
        </section>
        <section>
          <h1>Slide 2</h1>
        </section>
        <section>
          <h1>Slide 3</h1>
        </section>
        <section>
          <h1>Slide 4</h1>
        </section>
      </div>
    </div>
    <script type="text/javascript">
      Reveal.initialize()
    </script>
  </body>
</html>
